.center-panel {
    margin-left: 12px;
    margin-top: 12px;
    height: 100%;
    max-height: calc(100vh - 60px);
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    overflow-y: scroll;
    box-shadow: 4px 10px 20px 0 rgba(220, 224, 239, 0.59);
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}


.tableContainer {
    overflow-x: hidden;
    max-height: calc(100vh - 200px);
    padding: 4px 8px;
    overflow-y: scroll;
}


th {
    font-weight: 600;
    font-size: 16px;
}

td {
    color: #4b4b4b;
    font-size: 18px;
}

td, th {
    padding: 8px 4px;
}



.nameRow {
    font-weight: 600;
    max-width: 144px;
}

.priceRow {
    font-weight: lighter;
}

.countRow {
    font-weight: bold;
}

.sumRow {
    opacity: 1;
    color: #367aeb;
    font-size: 16px;
    font-weight: lighter;
}

.infoContainer {
    padding: 5.5px 0;
}

.infoRow {
    padding: 5.5px 12px;
    margin: 0;
}


.focus .innerItem {
    color: white;
}

::-webkit-scrollbar {
    height: 80%;
    margin-top: 20%;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: url("../Resources/点餐/菜菜单窗口的拖拽键@2x.png") top / contain no-repeat;
    width: 6px;
    cursor: pointer;
    height: 56px;

}

::-webkit-scrollbar-track {
    width: 10px;

}

.totalDisplayBlock {
    padding-top: 8px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: flex-end;

}

.totalDisplayInnerBlock > .S_totalPrice {
    margin-top: -6px;
    margin-left: 12px;
}

.totalDisplayInnerBlock {
    padding: 0 5px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #367aeb;
    border-bottom: 1px solid #367aeb;


}

.dot {
    background: #367aeb;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.pop2Container {
    z-index: 1500;
    left: 123px;
    width: 700px;
    height: 802px;
    padding: 57px 53px;
    position: fixed;
    top: 107px;
    border-radius: 14px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.08);
    box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.08);
}

.tableTitle {
    width: fit-content;
    background: #367aeb;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.24);
    box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.24);
}

tr:hover {
    background: #f8f8f8;
}

.smallTableBody > tr {
    border-bottom-width: 0.2px;
}

.smallTableBody > tr > td {
    padding: 0 6px;
}

.smallTableContainer {
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}


.pointer {
    cursor: pointer;
}

.dishListContainer {
    margin-top: 12px;
    width: 100%;
}

.dishList {
    width: 331px;
}

.code3Row {
    font-weight: bolder;
    text-align: center;
}

.name3Row {
    text-align: center;
    cursor: pointer;
}

.sizeOfDisCount {
    width: 625px;
    height: 285px;

    padding: 0;
}

.inputWithDesc {
    display: flex;
    justify-content: space-between;
}

.discountContent {
    margin-top: 28px;
    width: 206px;
}

.midLine {
    width: 1px;
    height: 216px;
    border: 1px solid rgba(54, 122, 235, 1);
    opacity: 0.46;

    position: absolute;
    top: 53px;
    left: 313px;

}

.leftHalf {
    margin-top: 64px;
    margin-left: 60px;
}

.discountInput {
    width: 188px !important;
}

.hints {
    width: 206px;
    height: 101px;
    border: 1px solid rgba(54, 122, 235, 1);
    border-radius: 5px;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: rgba(54, 122, 235, 0.36);
    margin-top: 131px;
    margin-right: 61px;
}

.modification {
    margin-top: 12px;
}

.popRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-field > label {
    font-size: 14px;
}

.rightLittlePopContainer.sizeOfCheckOut {
    width: 625px;
    height: 351px;
    padding-right: 91px;
    padding-left: 91px;
}


.popRow.sec {
    margin-top: 24px;
}

.popRow > .confirmContainer {
    margin-top: 0;
}

.cartTotal {
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}

.botLine {
    padding-right: 60px;
}


.categoryBlock {
    margin-top: 5px;
    width: max-content;
    cursor: pointer;
    background: white;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 7px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.12);
    box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.12);
}

.categoryBlock.active {
    background: #367aeb;
    color: white;

}

.categoryBlock:hover {
    background: #357aeb;
    color: white;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.08);
    box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.08);

}

.dishBlock {
    height: 120px;
    width: calc(16.6% - 12px);
    margin-top: 12px;
    cursor: pointer;
    padding: 5px 12px;
    background: white;
    -webkit-box-shadow: 0 3px 3px rgba(0, 86, 255, 0.13);
    box-shadow: 0 3px 3px rgba(0, 86, 255, 0.13);
    border-radius: 5px;
    margin-right: 12px;
}

@media screen and (max-width: 1600px ) {
    .dishBlock {

        width: calc(25% - 12px);
        margin-top: 12px;
        margin-right: 12px;
    }
}

@media screen and (max-width: 1200px ) {
    .dishBlock {

        width: calc(33% - 12px);
        margin-top: 12px;
        margin-right: 12px;
    }
}

.dishBlock .code {
    font-size: 18px;
    font-weight: bold;
}

.dishBlock .price {
    font-size: 18px;
}

.dishBlock .name {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: 70px;
    display: flex;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    word-break: break-all;
    justify-content: center;
    align-items: center;
}

.dishBlock.active {
    background: #367aeb;
    color: white;

}

.dishBlock:hover {
    background: #357aeb;
    color: white;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 86, 255, 0.54);
    box-shadow: 0 3px 10px 0 rgba(0, 86, 255, 0.54);

}

.dragscroll {
    overflow-x: hidden;
}

.categoryList {
    padding: 12px 0;
    width: fit-content;
    flex-wrap: wrap;
    display: flex;
}

.dishCardList {
    margin-bottom: 60px;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.popMenu {
    background: white;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.08);
    box-shadow: 0 3px 8px 0 rgba(0, 86, 255, 0.08);
    border-radius: 5px;
    margin-left: 12px;
    height: 100%;
    width: 100%;
}


.dishCardListContainer {
    height: 800px;
}

.ikTitle {
    color: #367aeb;
    font-size: 18px;
    font-weight: lighter;
    padding: 7px 4px;
    width: fit-content;
}

.ikTitle .strong {
    font-weight: bold;
}

.bottomCart {
    z-index: 1002;
    position: fixed;
    width: 100%;
    max-width: 400px;
}

.normalPos {
    right: 352px;
    bottom: 116px;
    padding: 12px;
}

#checkOutPopContainer {

}

#newDishContainer {
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    bottom: 0;
    left: 12px;
}

#splitOrderContainer {
    max-width: 700px;
    top: 60px;
    right: 352px;
}

#dishModification {
    padding: 12px;
    right: 352px;
    top: 60px;
}

.panel {
    box-shadow: 0 3px 6px rgba(0, 25, 244, 0.1);
    border-radius: 5px;
    background: #f2f4f7;
}

.generalPanel {
    padding: 12px;
}

.takeawayFloat {
    position: fixed;
    right: 0;
    top: 48px;
    background: white;
    width: 300px;
    padding: 12px;
}

.panelF {
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 340px;
    padding-left: 10px;
}

.verticalInfoRow {
    padding: 0 8px;
}

.verticalInfoRowLabel {
    font-size: 14px;
}

.verticalInfoRowText {
    font-size: 16px;
    font-weight: 600;
}

.bigTableNumberContainer {
    background: #367aeb;
    color: white;
    padding: 4px 28px;
    font-size: 64px;
    min-width: 144px;
    text-align: center;
    border-radius: 5px;
}

.verticalSpaceBetween {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between
}

.rightAlign {
    width: 100%;
    text-align: right;
}

.typeLabel {
    padding: 8px 12px;
    font-size: 18px;

    font-weight: 900;
}

.verticalInfoRowBigText {
    font-weight: 900;
    font-size: 56px;
    text-align: right;
    width: 100%;
    padding-right: 4px;
    color: black;
}



.iconButton {
    width: 36px;
    height: 36px;
    background: #58be8b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 25, 244, 0.1);
}

.lastDishName {
    display: inline-block;
    overflow: hidden;
    max-width: 110px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lastDish {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.totalRed {
    color: #fd7f41;
}

.ikButton {
    background: white;
    padding: 8px 24px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 25, 244, 0.1);
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.ikButton:hover {
    background: #367aeb;
    color: white;
}

.ikButton:focus {
    background: #367aeb;
    color: white;
}

.ikButton:active {
    background: #367aeb;
    color: white;
}

.button {
    margin-left: 12px;
}

.inputAreaCheckOut {
    width: 100%;
    margin-top: 12px;
}

.swal2-input[type=number] {
    max-width: unset !important;
}
